RewriteEngine On
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/ [NC]
RewriteCond %{HTTP_HOST} ^(www\.|paul\.)?guermonprez\.(eu|org|net)$ [NC]
RewriteRule ^(.*)$ https://guermonprez.github.io/$1 [R=301,L]
